@import "styles/custom/variables";

.car-list-item {
    margin-bottom: 15px;

    &__img-wrap {
        display: block;
        overflow: hidden;
        padding-bottom: 50%;
        height: 0;

        &:hover {
            .car-list-item__img {
                transform: scale(1.1, 1.1);
            }
        }
    }

    &__img {
        max-width: 100%;
        transition: all .6s;
    }

    &__content {
        padding: 20px;
        background: $grey-3;
    }

    &__title {
        margin-top: 0;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        font-weight: 900;
        color: $grey-1;

        &:hover {
            color: $primary-color;
            text-decoration: none;
        }
    }

    &__price {
        font-size: 15px;
        line-height: 22.5px;
        color: $secondary-color;
        font-weight: 700;
        margin-bottom: 15px;
    }
}
