@import "styles/custom/variables";

.header {
    border-top: 6px solid $primary-color;
    background-color: $grey-3;
    font-family: "Raleway";
    position: relative;

    &__inner {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        height: 70px;
    }

    &__logo {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 22px;
        line-height: 33px;
        color: $primary-color;
        margin: 0;
        display: inline-block;
        align-self: center;

        a {
            color: $primary-color;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
    }

    &__list-item {
        display: inline-block;
        position: relative;
        padding: 30px 20px;
        text-align: center;
        cursor: pointer;

        &:last-child {
            padding-right: 0;
        }

        a {
            color: $grey-1;
            font-size: 13px;
            line-height: 19.5px;
            font-weight: 700;
            text-transform: uppercase;
            transition: all 0.3s;
            position: relative;

            &:hover {
                color: $primary-color;
                text-decoration: none;
            }
        }
    }
}
