@import "styles/custom/variables";

.teaser {
    position: relative;

    &__image {
        height: 300px;
        background-image: url(./background.jpg);
        background-size: cover;
        background-position: bottom;
    }

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        content: "";
        transition: all 0.3s;
    }
}
