@import "styles/custom/variables";

.car-detail {
    &__img-wrap {

    }

    &__img {
        max-width: 100%;
    }

    &__heading {
        font-size: 18px;
        line-height: 27px;
        color: $grey-1;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: 0;
    }

    &__price {
        font-size: 15px;
        line-height: 22.5px;
        color: $secondary-color;
        font-weight: 700;
        margin-bottom: 15px;
    }
}
